/*general*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', Arial;
    background-color: #f6f8f9d4;
    font-weight: 900;
}

/*Header*/
header div h1{
    display: inline-block;
}
header div{
    max-width: 100%;
    background-color: white;
    margin: 10px;
}
/*main*/
.container-1{
    width: 80%;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
}
.container-2{
    width: 80%;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
}
section{
    padding-top: 15px;
    padding-bottom: 15px;
}

.row{
    padding-top: 5px;
    padding-bottom: 5px;
}

/*bg-colors*/
.bg-blue{
    background-color: #47ADF1;
}
.bg-violet{
    background-color: #9C72E4;
}
.bg-green{
    background-color: #64C0A9;
}
.bg-green-light{
    background-color: #B0C926;
}
.bg-orange{
    background-color: #F29E33;
}
.bg-pink{
    background-color: #D863A1;
}

/*text-color*/
.text-white{
    color: white;
}
.text-red{
    color: red;
}
.text-green{
    color: green;
}
.text-grey{
    color: grey;
}

/*radius*/
.little-radius{
    border-radius: 10%;
}
.half-radius{
    border-radius: 15%;
}
.full-radius{
    border-radius: 50%;
}

/*border*/
.box-check{
    border: 1px solid green;
}

.box-cross{
    border: 1px solid red;
}

/*size-text simbol*/
.smaller{
    font-size: 14px;
}

/*padding of small things*/
.pad{
    padding: 2px;
}

/*other*/
.pad-bt{
    border: none;
}